@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ProgressTracker!</h1>
    <p> Track your progress and make optimal gains.</p>
    <a asp-controller="Split" asp-action="Index" class="btn btn-primary">
        Configure Your Split!
    </a>
</div>
