@{
   ViewData["Title"] = "Split Page";
}
<h1>What Type Of Split Do You Run?</h1>
<section class="row card-group">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Split" asp-action="ByCategory" asp-route-name="PPL" class="btn btn-primary">
                    Push Pull Legs Split
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body text-center h-100">
                <a asp-controller="Split" asp-action="ByCategory" asp-route-name="Arnold" class="btn btn-primary">
        Arnold Split
        </a>
            </div>
        </div>
    </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center h-100">
                <a asp-controller="Split" asp-action="ByCategory" asp-route-name="Bro" class="btn btn-primary">
        Bro Split
        </a>
            </div>
        </div>
    </div>
    </section>
